@use "componentes/header";
@use "componentes/virtual";
@use "componentes/our_service";
@use "componentes/leading_healthcare";
@use "componentes/donwload";
@use "componentes/customer";
@use "componentes/check_out";
@use "componentes/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.container {
  width: 100%;
  max-width: 1218px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

a {
  text-decoration: none;
}

@mixin text($color, $size, $weight, $height) {
  color: $color;
  $size: $size;
  $weight: $weight;
  $height: $height;
}
